<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><strong>Ocean Plastic Web Scraper</strong></title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <!-- Add Jumbotron to Header -->
      <div class="jumbotron text-center">
        <h1>Ocean Plastic News</h1>
        <!-- Add a button to activate scraping script -->
        <p><a class="btn btn-primary btn-lg active" href="/scrape" role="button">Scrape New Articles</a></p>
      </div>

      <!-- Add section for Ellen MacArthur Foundation News -->
      <div class="row" id="emf-news">
        <div class="col-md-12">
          <div class="media">
            <div class="media-body">
              <h2>Latest Ellen MacArthur Foundation News</h2>
              <h4 class="media-heading">{{ news.emf_title }}</h4>
              <p class="bg-info">{{ news.emf_paragraph }}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Add section for NYT News -->
      <div class="row" id="emf-news">
        <div class="col-md-12">
          <div class="media">
            <div class="media-body">
              <h2>Latest Articles from the NYT</h2>
              <h4 class="media-heading">{{ news.nyt_title }}</h4>
              <p class="bg-info">{{ news.nyt_paragraph }}</p>
              <h4 class="media-heading">{{ news.nyt_title_2}}</h4>
              <p class="bg-info">{{ news.nyt_paragraph }}</p>
            </div>
          </div>
        </div>
      </div>

     
    </div>
  </body>
</html>
